[alias]
	# https://blog.filippo.io/git-fixup-amending-an-older-commit/
	fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
[user]
	email = zl29ah@gmail.com
	name = Sergey Alirzaev
[push]
	default = simple
[color]
	ui = auto
[pull]
	rebase = true
[sendemail]
	suppresscc = all
[commit]
	verbose = 1
	# Incompatible with git-svn
	#gpgsign = true
[merge]
	tool = vimdiff
[log]
	showSignature = true
[rebase]
	autostash = true
[http]
	sslVerify = true
[credential]
	helper = cache --timeout=31536000
[receive]
	denyCurrentBranch = warn
[diff]
	tool = vimdiff
[difftool]
	prompt = false
