[user]
	email = zl29ah@gmail.com
	name = Sergey Alirzaev
[push]
	default = simple
[color]
	ui = auto
[pull]
	rebase = true
[sendemail]
	suppresscc = all
[commit]
	# Incompatible with git-svn
	#gpgsign = true
[merge]
	tool = vimdiff
